<div class="form-group">
    <label>{{type.name}}
        <span ng-show="type.required">*</span>
    </label>
    <div ng-if="type.url">
        {{formData[type.tableRef].name}}
        <select class="form-control" name="{{type.tableRef}}" placeholder="{{type.placeholder}}" ng-model="formData[type.tableRef]"
            ng-required="type.required" ng-options="i.{{type.dropDownField}} for i in tags[type.tableRef]">
            <option selected>Please Select</option>

        </select>
    </div>
    <div ng-if="!type.url">
        <select class="form-control" name="{{type.tableRef}}" placeholder="{{type.placeholder}}" ng-model="formData[type.tableRef]"
            ng-required="type.required" ng-options="i for i in tags[type.tableRef]">
            <option selected>Please Select</option>

        </select>
    </div>
    <div class="error-msg" ng-show="detailForm[type.tableRef].$invalid && detailForm[type.tableRef].$touched">Please select valid {{type.name}}</div>
</div>